p, a {
    font-family: 'Comfortaa', cursive;
    font-size: x-large;

}

div#content {
    float: left;

}

body {
    background-image: url("abstract-white-color-canvas-wallpaper-textures-and-surface_74190-6376.jpg");
    background-size: 100%;
}
